<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style>
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body{
            background-color: #EEEEEE;
        }

        .form{
            text-align: center;
        }
    </style>
    <title>register</title>
</head>
<body>
    <div class="form">
        <h5>Register</h5>
    <form action="/users/register" method="post">
        <div>
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="name" required>
        </div>
        <div>
            <label for="email">
            </label><input type="email" id="email" name="email" placeholder="email" required>
        </div>
        <div>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="password" required>
        </div>
        <div>
            <label for="password2"></label>
            <input type="password" id="password2" name="password2" placeholder="Confirm password" required>
        </div>
        <div>
            <input type="submit" value="register"/>
        </div>
        <p>Already registered? <a href="/users/login">Log in</a> here</p>
    </form>
    </div>
</body>
</html>